---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'

export async function getStaticPaths() {
  const entrevistasEntries = await getCollection('entrevistas')
  return entrevistasEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title="Inventario de Muíños">
  <div class="flex min-h-screen flex-col">
    <Header showBackButton={true} backHref="/" />
    <main class="flex-grow">
      <div class="mx-auto max-w-3xl p-6 pt-8">
        <!-- Title & Back Button -->
        <div class="mb-6 flex items-center justify-between">
          <h1 class="text-3xl font-bold text-gray-900">{entry.data.title}</h1>
        </div>
        <Content />
      </div>
    </main>
    <Footer />
  </div>
</Layout>
