---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const entradasEntries = await getCollection('entradas')
  return entradasEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <p>Entrada</p>

  <h1 class="text-3xl">{entry.data.title}</h1>
  <Content />
</Layout>
