---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Pexegueiro - Sitio en construcción">
  <div class="h-screen flex flex-col justify-center">
    <p class="text-white text-center text-4xl">To be defined</p>
  </div>
</Layout>
