---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const muinosEntries = await getCollection('muinos')
  return muinosEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.name}>
  <p>Ficha muiño</p>

  <h1 class="text-3xl">{entry.data.name}</h1>
  <Content />
</Layout>
